# Created by .ignore support plugin (hsz.mobi)
/.idea
/.env
/_experiments
/dist/*
!/dist/.gitkeep
/data/*
!/data/.gitkeep
/vendor
/src/library/M4bTool/Command/Plugins/

.DS_Store
fummel.php
m4b-tool_debug.log

/.composer-alias
/.credentials
/.phpunit.result.cache
